#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        to_layer: to_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TO_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tap_to_hold: tap_to_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_TO_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL  &kp N1         &kp N2         &kp N3                   &kp N4                       &kp N5  &tog 1                                                                    &mo 3  &kp N6                              &kp N7         &kp N8         &kp N9                               &kp N0         &kp MINUS
&kp ESC    &kp B          &kp L          &tap_to_hold LEFT_ALT D  &tap_to_hold LEFT_CONTROL W  &kp Z   &none                                                                     &none  &tap_to_hold APOSTROPHE UNDERSCORE  &kp F          &kp O          &kp U                                &kp J          &kp BSLH
&kp TAB    &to_layer 4 N  &to_layer 3 R  &to_layer 1 T            &to_layer 2 S                &kp G   &none             &kp LCTRL  &kp LALT    &kp LGUI   &kp RCTRL             &none  &kp Y                               &to_layer 2 H  &to_layer 1 A  &to_layer 3 E                        &to_layer 4 I  &kp COMMA
&kp LSHFT  &kp Q          &kp X          &kp M                    &kp C                        &kp V                                &kp HOME    &kp PG_UP                               &kp K                               &kp P          &kp PERIOD     &tap_to_hold DOUBLE_QUOTES KP_MINUS  &kp FSLH       &kp RSHFT
&mo 2      &kp GRAVE      &kp CAPS       &kp LEFT                 &kp RIGHT                                    &kp BSPC  &kp DEL    &kp END     &kp PG_DN  &kp ENTER  &kp SPACE                                             &kp UP         &kp DOWN       &kp LBKT                             &kp RBKT       &mo 2
            >;
        };

        keypad {
            bindings = <
&none  &none         &none         &none         &none         &none       &trans                                                                    &none  &none          &none     &none           &none      &none          &none
&none  &kp ESCAPE    &kp N7        &kp N8        &kp N9        &kp PLUS    &none                                                                     &none  &kp PG_UP      &kp HOME  &kp UP_ARROW    &kp END    &kp DELETE     &none
&none  &kp TAB       &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS   &none             &kp LCTRL  &kp LALT    &kp LGUI   &kp RCTRL             &none  &kp PAGE_DOWN  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &kp BACKSPACE  &none
&none  &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD                               &kp HOME    &kp PG_UP                               &kp H          &kp J     &kp K           &kp L      &kp ENTER      &kp RSHFT
&to 0  &none         &none         &kp LEFT      &kp RIGHT                         &kp BSPC  &kp DEL    &kp END     &kp PG_DN  &kp ENTER  &kp KP_N0                        &kp UP    &kp DOWN        &none      &none          &none
            >;
        };

        symbol {
            bindings = <
&kp F1   &kp ESC          &kp F3         &kp F4            &kp F5             &kp F6         &tog 1                                                              &mo 3  &kp F7       &kp F8                &kp F9                 &kp F10     &kp F11            &kp F12
&kp TAB  &kp GRAVE        &kp LESS_THAN  &kp GREATER_THAN  &kp MINUS          &kp PIPE       &none                                                               &none  &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR  &kp DELETE         &none
&none    &kp EXCLAMATION  &kp ASTERISK   &kp SLASH         &kp EQUAL          &kp AMPERSAND  &none                  &none  &none    &none  &none                 &none  &kp EQUAL    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMI    &kp DOUBLE_QUOTES  &none
&none    &kp TILDE        &kp PLUS       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PERCENT                                  &none    &none                               &kp AT_SIGN  &kp COLON             &kp COMMA              &kp PERIOD  &kp SQT            &none
&to 0    &none            &none          &none             &none                                     &kp BACKSPACE  &none  &none    &none  &kp ENTER  &kp SPACE                      &none                 &none                  &none       &none              &none
            >;
        };

        mod {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                                        &trans       &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &bootloader                                                                  &bootloader  &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &none               &none  &none    &bt BT_CLR  &none                        &none        &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none                                    &none    &none                                                 &none  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none                                    &none  &none  &none    &none       &bl BL_TOG  &rgb_ug RGB_TOG                      &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans    &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &trans    &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans    &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
